<nav class="navbar navbar-main navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
		    <a class="navbar-brand" href="index.html"><b>Cafemandu</b></a>
	  
	  <div class="collapse navbar-collapse" id="navbarText">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" class="nav-indexes" href="index.html">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="menu.html">Menu</a>
	      </li>
	       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Order
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Order now</a>
          <a class="dropdown-item" href="#">Pre order</a>
         
      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Contact us</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Abouts us</a>
	      </li>
	    </ul>
	    <span class="navbar-text">
	      <a class="nav-link" href="#"><button type="button" class="btn btn-outline-info">Account</button></a>
	    </span>
	  </div>
		  </nav>